<div class="form-group">
  <div class="col-sm-12">
    <input id="title" type="text" class="form-control" name="title" maxlength="60" placeholder="文章标题60字以内" <% if (post != null) {%>value="<%= post.title %>"<%}%>/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <input type="text" id="tag" class="form-control" name="tags"/>
  </div>
</div>
<div id="articleText" class="editor liveMode" style="min-height: 724px;">
    <div class="editor-toolbar" id="wmd-button-bar">
        <ul class="editor-mode">
            <li class="pull-right">
                <a class="editor__menu--preview" title="预览模式"></a>
            </li>
            <li class="pull-right">
                <a class="editor__menu--live muted" title="实况模式"></a>
            </li>
            <li class="pull-right">
                <a class="editor__menu--edit" title="编辑模式"></a>
            </li>
            <li class="pull-right editor__menu--divider"></li>
            <li id="wmd-zen-button" class="pull-right" title="全屏">
                <a class="editor__menu--zen"></a>
            </li>
        </ul>
        <ul id="wmd-button-row" class="editor__menu clearfix" style="position: static; width: auto; top: 0; z-index: 1000;">
            <li class="wmd-button" id="wmd-bold-button" title="加粗 <strong> Ctrl+B" style="left: 0;">
                <a class="editor__menu--bold"></a>
            </li>
            <li class="wmd-button" id="wmd-italic-button" title="斜体 <em> Ctrl+I" style="left: 25px;">
                <a class="editor__menu--italic" ></a>
            </li>
            <li class="editor__menu--divider wmd-spacer1"></li>
            <li class="wmd-button" id="wmd-link-button" data-toggle="modal" data-target="#link-layer" title="链接 <a> Ctrl+L" style="left: 75px;">
                <a class="editor__menu--link"></a>
            </li>
            <li class="wmd-button" id="wmd-quote-button" title="引用 <blockquote> Ctrl+Q" style="left: 100px;">
                <a class="editor__menu--quote"></a>
            </li>
            <li class="wmd-button" id="wmd-code-button" title="代码 <pre><code> Ctrl+K" style="left: 125px;">
                <a class="editor__menu--code"></a>
            </li>
            <li class="wmd-button" id="wmd-image-button" data-toggle="modal" data-target="#uploadimg-layer" title="图片 <img> Ctrl+G" style="left: 150px;">
                <a class="editor__menu--image"></a>
            </li>
            <li class="editor__menu--divider wmd-spacer2" id="wmd-spacer2"></li>
            <li class="wmd-button" id="wmd-olist-button" title="数字列表 <ol> Ctrl+O" style="left: 200px;">
                <a class="editor__menu--ol"></a>
            </li>
            <li class="wmd-button" id="wmd-ulist-button" title="普通列表 <ul> Ctrl+U" style="left: 225px;">
                <a class="editor__menu--ul"></a>
            </li>
            <li class="wmd-button" id="wmd-heading-button" title="标题 <h1>/<h2> Ctrl+H" style="left: 250px;">
                <a class="editor__menu--title"></a>
            </li>
            <li class="wmd-button" id="wmd-hr-button" title="分割线 <hr> Ctrl+R" style="left: 275px;">
                <a class="editor__menu--hr"></a>
            </li>
            <li class="editor__menu--divider wmd-spacer3" id="wmd-spacer3"></li>
            <li class="wmd-button" id="wmd-undo-button" title="撤销 - Ctrl+Z" style="left: 325px;">
                <a class="editor__menu--undo"></a>
            </li>
            <li class="wmd-button" id="wmd-redo-button" title="重做 - Ctrl+Shift+Z" style="left: 350px;">
                <a class="editor__menu--redo"></a>
            </li>
            <li class="editor__menu--divider wmd-spacer4" id="wmd-spacer4"></li>
            <li class="wmd-button" id="wmd-help-button" title="Markdown 语法" style="left: 400px;">
                <a class="editor__menu--help"></a>
            </li>
            <li class="wmd-button" id="wm-trash-button" title="丢弃草稿" style="left: 400px;">
                <a class="editor__menu-trash"></a>
            </li>
        </ul>
    </div>
    <div class="wmd">
        <textarea id="code" name="post" class="mono form-control wmd-input tabIndent"></textarea>
    </div>
    <div class="editor-line"></div>
    <div class="editor-preview fmt" id="wmd-preview"></div>
</div>
<div class="form-group">
    <div class="col-sm-12">
       <button type="submit" id="submit" class="btn btn-success">发布</button>
    </div>
</div>
<!-- 填写链接 -->
<div class="modal fade" id="link-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">插入链接</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="link" class="sr-only">链接</label>
                        <input id="link" type="url" class="form-control" placeholder="http://" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="link-confirm" class="btn btn-primary" data-dismiss="modal">插入</button>
            </div>
        </div>
    </div>
</div>
<!-- 上传图片 -->
<div class="modal fade" id="uploadimg-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">插入图片</h4>
            </div>
            <div class="modal-body">
                <p class="sfModal-content">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#localPic" role="tab" data-toggle="tab">本地上传</a></li>
                        <li class=""><a href="#remotePic" role="tab" data-toggle="tab">远程地址获取</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade pt20 form-horizontal active in" id="localPic"> <span class="text-muted">图片体积不得大于 4 MB</span>
                            <br>
                            <div class="widget-upload form-group">
                                <input type="file" id="editorUpload" name="image" class="widget-upload__file">
                                <div class="col-sm-8">
                                    <input type="text" id="fileName" class="form-control col-sm-10 widget-upload__text" placeholder="拖动图片到这里" readonly="readonly">
                                </div>
                                <a href="javascript:void(0);" class="btn col-sm-2 btn-default">选择图片</a>
                            </div>
                        </div>
                        <div class="tab-pane fade pt20" id="remotePic">
                            <input type="url" name="img" id="remotePicUrl" class="form-control text-28" placeholder="请输入图片所在网址">
                        </div>
                    </div>
                </p>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="image-confirm" class="btn btn-primary done-btn" data-dismiss="modal">插入</button>
            </div>
        </div>
    </div>
</div>