<br />
<% post.comments.forEach(function (comment) { %>
<div style="padding-left:4em">
  <p><img width="40" height="40" src="<%= comment.head %>" class="l_head" /><a href="<%= comment.website %>"><%= comment.name %></a>
    <span class="info"> <%= comment.time %></span> <a class="reply-btn" href="javascript:void(0);">回复</a> </p>
  <p><%- comment.content %></p>
</div>
<% }) %>
<textarea class="form-control" name="content" id="comment" rows="5" cols="80"></textarea>
<button type="submit" id="commentBtn" class="btn btn-primary">留言</button>