<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%- include widgets/globalNav %>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
      <h1 class="page-header"><%= title %></h1>
      <div class="row">
        <article class="col-x-12 col-sm-12">