<%- include header %>
<form method="post" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="name">用户名</label> 
    <div class="col-sm-10">
      <input name="name" id="name" type="text" class="form-control input-mid" placeholder="Pick a username" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="password">密码</label> 
    <div class="col-sm-10">
      <input id="password" name="password" type="password" class="form-control input-mid" placeholder="Create a password" autocomplete="off"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">登录</button>
    </div>
  </div>
</form>
<%- include footer %>