<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/jquery.tagit.css">
<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
<link rel="stylesheet" href="/stylesheets/highlight/<%= editorTheme %>.css"/>
<!--[if lt IE 9]>
<script src="/js/html5shiv.min.js"></script>
<script src="/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <h1 class="page-header"><%= title %></h1>
      <div class="row">
        <article class="col-x-12 col-sm-12">
          <form data-toggle="validator" method="post" class="form-horizontal" id="form">
            <%- include widgets/editingTools %>
          </form>
          <input type="hidden" value="" id="postId"/>
        </article>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/require.js" data-main="/js/app/main"></script>
</body>
</html>