<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%- include widgets/globalNav %>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
      <h1 class="h3"><span style="color: #017e66;margin-right: 10px;"><%= title %></span>标签下的文章</h1>
      <div class="row">
        <article class="col-x-12 col-sm-12">
          <ul class="archive">
          <% var lastYear = 0 %>
          <% posts.forEach(function (post, index) { %>
            <% if (lastYear != post.time.year) { %>
              <li><h3><%= post.time.year %></h3></li>
            <% lastYear = post.time.year } %>
              <li><time><%= post.time.day %></time></li>
              <li><a href="/a/<%= post._id %>"><%= post.title %></a></li>
          <% }) %>
          </ul>
        </article>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>