<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%- include widgets/globalNav %>
<section class="content-wrap">
  <div class="container">
    <div class="row">
      <main class="col-md-8 main-content">
        <% posts.forEach(function (post, index) { %>
        <article id="<%= post._id %>">
          <div class="post-head">
            <h2 class="title"><a href="/a/<%= post._id %>"><%= post.title %></a></h2>
            <a href="/u/<%= post.name %>"><img width="40" height="40" src="<%= post.head %>" class="r_head" /></a>
            <p class="info">
              作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
              日期：<%= post.time.minute %> |
              标签：
              <% post.tags.forEach(function (tag, index) { %>
              <% if (tag) { %>
              <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
              <% } %>
              <% }) %>
              <% if (post.reprint_info && post.reprint_info.reprint_from) { %>
              <br><a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
              <% } %>
            </p>
          </div>
          <div class="post-content">
            <%
              var content = ( post.post && marked(post.post) ) || '';
              content = content && content.replace(/<\/?[^>]*>/g,'');  //去除HTML tag
              content.value = content.replace(/[ | ]*\n/g,'\n'); //去除行尾空白
              content = content.replace(/\n[\s| | ]*\r/g,'\n'); //去除多余空行
              if (content.length > 200) {
                content = content.substring(0,200);
              }
            %>
            <p><%- content %></p>
          </div>
          <p class="info">
            阅读：<%= post.pv %> |
            评论：<%= post.comments.length %> |
            转载：
            <% if (post.reprint_info && post.reprint_info.reprint_to) { %>
            <%= post.reprint_info.reprint_to.length %>
            <% } else { %>
            <%= 0 %>
            <% } %>
          </p>
        </article>
        <% }) %>
        <ul class="pager">
          <% if (!isFirstPage) { %>
          <li class="previous"><a href="?p=<%= page-1 %>"><span aria-hidden="true">←</span> Prev</a></li>
          <% } %>
          <% if (!isLastPage) { %>
          <li class="next"><a href="?p=<%= page+1 %>">Next <span aria-hidden="true">→</span></a></li>
          <% } %>
        </ul>
      </main>
    </div>
  </div>
</section>
<%- include foot %>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>